<div class="container-full" id="organisation">
    <div class="box-text">
        <h1>Compagnie F</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quasi voluptates est sed ipsa, quae quod similique, excepturi omnis, facilis dolores tempore libero ratione aliquid possimus doloremque voluptatem placeat officia!
        </p>
    </div>
    <div class="box-text">
        <h1>Batterie d'Aquin's</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quasi voluptates est sed ipsa, quae quod similique, excepturi omnis, facilis dolores tempore libero ratione aliquid possimus doloremque voluptatem placeat officia!
        </p>
    </div>
</div>
