<div class="container-full" id="organisation">
    <div class="container-center">
        <div class="box-text">
            <h1>Compagnie F</h1>
            <p>
                La base du bataillon francophone, la compagnie F rassemble la majorité de nos membres, elle sait
                compter sur des officiers et sous-officiers expérimentés par plusieurs années de jeu.La compagnie accueille
                tous les nouveaux membres pour les former aux bases. Evoluant en ligne, en tirailleurs ou à la garde, la
                compagnie F a, à plusieurs reprises couvert son drapeau du prestige de la victoire.
            </p>
        </div>
        <div class="box-text">
            <h1>Batterie d'Aquin's</h1>
            <p>
                Notre batterie et sa bonne vieille pièce Marie-Jeanne forme une section spécialisée dans l’artillerie.
                Les places y sont limitées et il est nécessaire d’avoir reçu la formation du fantassin avant de pouvoir
                l’intégrer. La précision de leurs tirs a déjà renversé bon nombre de d’affrontements face à l’ennemi.
            </p>
        </div>
    </div>
</div>
