.container-footer {
    width: 100%;
    background-color: rgb(23,23,23,1);

    color: white;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container-icon {
        font-size: 2em;

        a {

            &:hover {
                color: #f1c40f;
                cursor: pointer;
            }
            
            text-decoration: none;
            color: white;
            margin-right: 10px;
        }
    }

    .copyrights {
        i {
            vertical-align: text-top;
            font-size: 0.5em;
        }
    }
}

