<div class="container-footer">

    <div class="container-icon">
        <a class="bi bi-youtube" href="https://www.youtube.com/@6thLouisianaCompanyF/videos" target="_blank"></a>
        <a class="bi bi-discord" href="https://discord.gg/S4HKhpQxy8" target="_blank"></a>
        <a class="bi bi-instagram" href="https://www.instagram.com/6th_louisiana_official_fr/?img_index=1" target="_blank"></a>
    </div>

    <div class="copyrights">
        <i class="bi bi-c-circle"></i>
        Copyright {{ year }} {{ name }}
    </div>

</div>
