<div class="container-full" id="description">
    <div class="box-text">
        <h1>Le 6e Régiment de Louisiane</h1>
        <p>
            Le 6th Louisiana Infantry Regiment est une communauté internationale sur War of Rights qui existe
            depuis 2016. En son sein, un bataillon francophone a été constitué, majoritairement européen, il participe à
            plusieurs événements hebdomadaires aux horaires européens.
        </p>
        <p>
            Nous fonctionnons de façon semi-roleplay et bien que notre unité porte un nom d’unité confédérée
            nous jouons indifféremment dans un camp ou dans l’autre. Notre communauté est avant tout basée sur le
            fun et une ambiance détendue mais nous tenons tout de même à une certaine qualité de jeu.
        </p>

		<p>
			Rejoignez nos événements hebdomadaires et plongez au cœur de l'action !
		</p>
		
		<p>
			<strong>Mercredi : Picket Patrol à 21h00</strong><br />
			&nbsp;&nbsp;&nbsp;&nbsp;Défiez vos compétences tactiques dans cet événement palpitant. Coordination et rapidité seront vos meilleurs alliés.<br />
		</p>
		
		<p>
			<strong>Vendredi</strong> <br />
				
			&nbsp;&nbsp;&nbsp;&nbsp;<strong>Drill à 20h00 :</strong> Entraînez-vous avec les meilleurs pour perfectionner vos stratégies de combat.<br />
			&nbsp;&nbsp;&nbsp;&nbsp;<strong>United European Community Event à 21h00 :</strong> Participez à des batailles épiques avec des joueurs de toute l'Europe dans cet affrontement intense.<br />
		</p>

		<p>
			<strong>Dimanche :Historical Rules Event à 19h45</strong> <br />
			&nbsp;&nbsp;&nbsp;&nbsp;Revivez les batailles historiques de la guerre de Sécession dans cet événement immersif.
		</p>

		<div>
			<a 
				class="round-button" 
				href="https://discord.gg/JWcBvY5u5Y"
				target="_blank"
			>
				Rejoignez-nous
			</a>

			<a 
				class="round-button"
				href="https://www.youtube.com/@6thLouisianaCompanyF/videos"
				target="_blank"
			>
				Chaine Youtube
			</a>
			<!-- <a 
				class="round-button"
				href="https://www.instagram.com/6th_louisiana_official_fr/?img_index=1"
				target="_blank"
			>
				Instagram
			</a> -->
		</div>

    </div>
</div>